# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# IDO history (may contain personal info)
ido.last

# eshell history (may contain personal info)
eshell/history
eshell/lastdir

# CIDER history (may contain personal info)
cider-history

# SMEX saved data
.smex-items

# network data
network-security.data

# Projectile
projectile-bookmarks.eld

# Packages
elpa/
